{% extends 'base.html' %}

{% load static %}
{% load embed_video_tags %}

{% block title %}
<title>JHS Infotech_About</title>
{% endblock title %}
{% block content %}


<!--About starts-->
<section class="about_bread">
    <div class="container">
        <div class="row text-center text-white">
            <div class="col mt-5">
                <h2 class="who">About Us</h2>
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li class="abt"><a href=""></a> About Us</li>
                </ul>
            </div>
        </div>
    </div>

</section>
<!--About Ends-->
<!--awel start-->
<section class="abtwel" >
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="abtimag">
                    <img src="{% static 'assets/images/about_img/abt3.jpg' %}" class="img-fluid abtim" alt="">
                </div>

            </div>
            <div class="col-md-6">
                <div class="head mb-4 mt-5">
                    
                    <h3 class="top">Welcome To 
                        <span style="color:rgb(32, 29, 29)">JHS Infotech</span></h3>
                </div>
                <div class="text">
                    <p class="abtext">
                        JHS Infotech is a premier global E-Learning company . We cater to individuals and corporates and provide IT training and certification programs in Niche IT Courses. Modes of training include Instructor led Live online training and Self Paced Video training.
                    </p>
                    <p class="abtext">
                        Courses are designed with Role Based methodology in mind. Our training programs are suitable for entry level and experienced IT professionals seeking to enhance their skills or Learn a New Technology and get Certified.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--awel ends-->
<!--It talent starts-->
<scetion class="it_talent">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="head_1 mb-4 mt-5">
                    
                    <h3 class="top">We Build IT Talent</h3>
                </div>
                <div class="text">
                    <p class="abtext">
                        In an economy marked by conflicting indicators, IT companies are looking to hire more employees over the next 5 years, but worry that there will not be enough qualified candidates to fill the vacancies according to a new survey. Some believe that IT Talent is scarce, while others believe that IT Talent acquisitions strategies are the issue. Whatever the shortcoming may be in finding talent, Online Training is one of the best solutions.
                    </p>
                    <p class="abtext">
                        JHS Infotech is a professional IT Training & Consulting company dedicated to cultivating specialty talents for the global IT industry, focusing on the interaction between education and industry, JHS Infotech provides information technology related online training and e-learning services aiming to become a distinguished IT-Training Company. 
                    </p>
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="img_it">
                    <img src="{% static 'assets/images/about_img/it_talent.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="abtext">
                        JHS Infotech is committed to helping both individuals and organizations acquire and continuously improve their knowledge and capabilities in the field of information technology for a promising tomorrow.Our online IT Trainings have proven to be an extremely successful initiative. The results speak for themselves – course graduates without previous experience in the field or IT education are being granted an opportunity to become software developers. All successful graduates are being considered for a career with the leading IT companies.
                    </p>
                </div>
            </div>

        </div>
    </div>
</scetion>
<!--It talent ends-->
<!--we are diff starts-->
<section class="we are diff">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img_diff">
                    <img src="{% static 'assets/images/about_img//diff.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="head_2 mb-4 mt-5">
                    
                    <h3 class="top">We are Different</h3>

                </div>
                <div class="">
                    <h6>Role-Specific Training</h6>
                    <p class="abtext">Traditional training focuses on an overall business process, without regard for the individual’s role. By contrast, JHS Infotech’s series of role-based courses delivers in-depth training on a specific role within the business process.</p>
                </div>
                <div class="">
                    <h6>Hands-on Mentoring</h6>
                    <p class="abtext"> Our expert trainer’s work side-by-side with each trainee and teach proven discipline and techniques for successful delivery. Mentoring is “hands-on” as part of actual projects to gain real-time experience.</p>
                </div>
               
                
              
            </div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="">
                        <h6>Real-time Project Experience</h6>
                        <p class="abtext">Comprehension of practical skills is both reinforced and demonstrated in our training programs by completing Case studies of actual projects..</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="">
                        <h6>Certification Exams</h6>
                        <p class="abtext">Our trainers are all certified and provide expert industry level guidance to certification exams with tips and tricks to guarantee consistency of skills and practices for a successful completion of certification.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="">
                        <h6>Ongoing education</h6>
                        <p class="abtext">JHS Infotech continues to offer new courses so you can keep up-to-date on latest technologies and best practices.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>
<!--we are diff ends-->
<!--Role based starts-->
<section class="role_based">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="head_3 mb-4 mt-5">
                    <h3 class="top">Our Role-Based Training Approach</h3>
                </div>
                <div class="text">
                    <p class="abtext">
                        Our role-based training is the most effective training strategy followed by structured mentoring and coaching. It puts the training in the context of the role and what it takes to perform that role. This role specific approach results in a more efficient training process for trainees who learn only the features, functions and transactions they need to know. The trainee will know how to produce deliverables, follow the process, use the tools and comply with the necessary reporting cycles and requirements.
                    </p>
                    <p class="abtext">
                        This also allows trainees to gain a deeper knowledge of those features and functions through greater concentration on relevant, practical knowledge unlike traditional product-based training offered by most online training institutes which focus on an overall business process, without regard for the individual’s role
                    </p>
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="img_tra">
                    <img src="{% static 'assets/images/about_img/trainer.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="abtext">
                        A practical and problem-centered approach based on real examples is used in our training programs. The trainees will be given enough assignments/case studies during the learning process. These assignments give the trainees an opportunity to stretch past his or her current abilities. Role-based learning promotes positive self-esteem as well.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Role based ends-->
<!--Training starts-->
<section class="6_steps">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img_mar">
                    <img src="{% static 'assets/images/about_img/marketing.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="head mb-4 mt-5">
                    <h3 class="top">Training to Placement Assistance process</h3>
                </div>
                <div class="skilhead1">
                    <h6>Training & Assignments:</h6>
                    <p class="abtext">All our Sr. Trainers use the Role Based Training approach to provide Online training. All Live or Video sessions are followed with Real-time project based Assignments. Some Courses have assessments as well after sessions.</p>
                </div>
                <div class="skilhead1">
                    <h6>Case Study & Real-time project Methodology:</h6>
                    <p class="abtext">During the last week of the training, your trainer will work with you on several Case Studies based on actual projects. This gives the participant an understanding of how things are accomplished in real-time environment.</p>
                </div>
                <div class="skilhead1">
                    <h6> Certification Guidance:</h6>
                    <p class="abtext"> We provide guidance in preparing for the relevant Certification. All of our Sr. Expert trainers are Certified themselves. They will provide you with Step by Step instructions on taking Certification with many faqs and certification dumps.</p>
                </div>
                <div class="skilhead1">
                    <h6> Resume Preparation Assistance:</h6>
                    <p class="abtext">A good looking Resume is the most important thing. It is the first thing your next employer sees and the first impression is everything. Our detailed step by step instructions combined with sample Resumes, Templates, do's and dont's and constant guidance will help you build a great Resume.</p>
                </div>
                <div class="skilhead1">
                    <h6>Interview Preparation Assistance:</h6>
                    <p class="abtext">With several interview preparation videos, Questionnaires, Live session with a trainer and faqs, you will get better at taking client interviews. We also provide Self Students Questionnaires in two phases (Technical and Project phase), which help each student get ready to take interviews</p>
                </div>
                
               
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="skilhead1">
                        <h6> Marketing Assistance: </h6>
                        <p class="abtext"> After successful completion of the above 5 steps, we will introduce you to Marketing through our sister consulting companies. This an add-on benefit JHS Infotech provides to help students get a career start. JHS Infotech has limited number of sister consulting companies that we can introduce you to for Marketing Assistance. This assistance is an extra bonus, which we provide to get you in the job market. We cannot guarantee a job. But we can guarantee that we make you best in the subject.
                        We help/assist students to become skilled in the most effective and smart way. Our training will help you become competent in the job market. Becoming Successful is not about getting a job, it’s about increasing your competence.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Training ends-->





<!--Testimonials starts
<section class="testimonial-section my-5" id="student-testimonials">
    <div class="container">
        <h2 class="text-brand text-center fw-700 pb-4">Placements</h2>
        <div class="owl-carousel owl-theme  scroll-carousel" id="testimonial-slider">
                <div class="item p-2">
                    <div class="card d-flex flex-column p-3">
                        {% for i in videos %}
                          {% video i.video '350x250' %}
                        {% endfor%}

                        
                        <iframe height="100%" src="https://www.youtube.com/embed/nwdpQNlhaj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-
                    </div>
                </div>
                <div class="item p-2">
                    <div class="card d-flex flex-column p-3">
                        <iframe  height="100%" src="https://www.youtube.com/embed/5Ly0Ft6qJAE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="item p-2">
                    <div class="card d-flex flex-column p-3">
                        <iframe height="100%" src="https://www.youtube.com/embed/7R3Xr4QxtWQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="item p-2">
                    <div class="card d-flex flex-column p-3">
                        <iframe height="100%" src="https://www.youtube.com/embed/mB83vui7lAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
                    </div>
                </div>
                <div class="item p-2">
                    <div class="card d-flex flex-column p-3">
                        <iframe  height="100%" src="https://www.youtube.com/embed/XLJJkT4_t04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
                    </div>
                </div>
                <div class="item p-2">
                    <div class="card d-flex flex-column p-3">
                        <iframe  height="100%" src="https://www.youtube.com/embed/NfnH1r4a3-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                       
                    </div>
                </div>-->
        </div>
    </div>
</section>
<!--Testimonials Ends-->

<!--Rating Starts-->
<section class="rating-section my-md-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-6 text-center my-3">
                <img src="{% static 'assets/images/rating/google.png' %}" alt="Google Logo" class="rating-logo">
                <hr class="mx-auto my-2 w-md-25 w-50">
                <div class="d-flex justify-content-center gap-1">
                    <h5 class="fw-700">4.5</h5>
                    <span>(1038)</span>
                </div>
                <div class="star-set">
                    <div class="rating-stars">
                        <small>
                            <i class='fa fa-star text-warning'></i><i class='fa fa-star text-warning'></i><i class='fa fa-star text-warning'></i><i class='fa fa-star text-warning'></i><i class='fas fa-star-half-alt text-warning'></i>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6 text-center my-3">
                <img src="{% static 'assets/images/rating/facebook.png' %}" alt="Facebook Logo" class="rating-logo">
                <hr class="mx-auto my-2 w-md-25 w-50">
                <div class="d-flex justify-content-center gap-1">
                    <h5 class="fw-700">4.7</h5>
                    <span>(312)</span>
                </div>
                <div class="star-set">
                    <div class="rating-stars">
                        <small>
                            <i class='fa fa-star text-warning'></i><i class='fa fa-star text-warning'></i><i class='fa fa-star text-warning'></i><i class='fa fa-star text-warning'></i><i class='fas fa-star-half-alt text-warning'></i>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-6 text-center my-3 mx-auto">
                <img src="{% static 'assets/images/rating/justdial.png' %}" alt="JustDial Logo" class="rating-logo pb-2">
                <hr class="mx-auto my-2 w-md-25 w-50">
                <div class="d-flex justify-content-center gap-1">
                    <h5 class="fw-700">4.3</h5>
                    <span>(984)</span>
                </div>
                <div class="star-set">
                    <div class="rating-stars">
                        <small>
                            <i class='fa fa-star text-warning'></i><i class='fa fa-star text-warning'></i><i class='fa fa-star text-warning'></i><i class='fa fa-star text-warning'></i><i class='fas fa-star-half-alt text-warning'></i>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Rating ends-->
{% endblock content %}